extends ../includes/layout
block main-content
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") Mean
                 h6 Mean Beginner
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                     a(href="/") Hom
    section.content
       div(ng-view)
    h2= dude

    footer.container.text-center
     p &copy; 2015 SKC Corp