doctype
html
    head
        title Opinionated Programmer
        link(href="/favicon.ico",rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="customBootstrap.min.css")
        link(rel="stylesheet",href="site.css")
        link(rel="stylesheet",href="/vendor/toastr/toastr.css")

    body(ng-app='app')

        block main-content
        include scripts