//move this into a separate jade file
.panel.panel-primary.env
    .panel-heading Technical Stack
        .panel-body
            .row
                .col-md-6
                    .row(ng-repeat="stack in stacks", ng-click='showStackSkills(stack)')
                        button.btn.btn-primary.environments {{stack}}
                .col-md-6
                    .panel.panel-primary.details(ng-show="enableStackSkills")
                        .panel-heading {{currentStack}}
                            .panel-body
                                div(ng-repeat=" s in getEnvForStack()") {{ s }}
