.panel.panel-primary
   .panel-heading.text-center Projects
   .panel-body
      .row(ng-repeat="project in projects")
         .col-md-6
          a(href="/projects/{{project._id}}") {{project.clientName}}
