.panel.panel-primary
   .panel-heading Projects
        .panel-body
            .row(ng-repeat="project in projects")
                .col-md-6
                    a.text-left(href="/projects/{{project._id}}") {{project.clientName}}
                .col-md-6
                    div {{project.role}}
