/// <reference path="../../../typings/angularjs/angular.d.ts"/>
.container
    .jumbotron
      h1 Karthik Saraswathibatla
      p 9 years of IT experience in Analysis, Design, Development, Implementation and Testing of Web Based, Client-Server and N-tier Architecture in various domains
        a.text-left(href="/expertises")  More..

    .row
        .col-md-6
            div(ng-include="'partials/main/featured-skills'")
        .col-md-6
            div(ng-include="'partials/main/featured-projects'")
